body {
}

#background-img {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
}

#weather-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#button {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #ffaa55;
  border: solid 2px c;
  border-radius: 3px;
  transition: 0.4s;
}

#button:hover {
  background: #ffaa55;
  color: white;
}

.card {
  width: auto;
  height: auto;
  background-color: yellow;
  border-radius: 5%;
  margin: 20px;
  text-align: center;
}
#icon {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 15vw;
  height: 15vh;
}

h2 {
  border-top: solid 3px #ffffff;
}

.max-temp {
  font-size: 40px;
}

.card-temp {
  font-size: 20px;
}

.icon {
  width: 100%;
  height: 100%;
}
