body {
  font-family: "Open Sans Condensed", sans-serif;
  background: url("rain-gif.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  width: 80%;
  margin: auto;
}

p {
  margin: 0;
}

nav {
  background-color: #333333;
}

#navbar-brand-id {
  color: white;
}

#weather-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

#button {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  background: #a29b8b;
  color: white;
}

#button:hover {
  color: white;
  border: solid 2px c;
  border-radius: 3px;
  transition: 0.4s;
  background-color: #84b0b6;
}
#imperial-button {
    background-color: #333333;
    color: white;
}

#metric-button {
    background-color: #333333;
    color: white;
}
#imperial-button:hover {
  background-color: #84b0b6;
  color: white;
}

#metric-button:hover {
  background-color: #84b0b6;
  color: white;
}

.card {
  width: auto;
  height: auto;
  background-color: #739bac;
  border-radius: 5%;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border: 3px solid #1c3033;
  box-shadow: 2px 4px #778776;
}

#icon {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 10vw;
  float: left;
}

h2 {
  color: #ffffff;
  border-top: solid 3px #ffffff;
  text-align: left;
  padding-top: 10px;
}

.maxtemp {
  font-size: 40px;
  text-align: left;
}

.card-current-temp {
  color: #ffffff;
  font-size: 30px;
}

small {
  text-align: left;
}

.card-temp {
  text-align: left;
  float: left;
}

.card-description {
  float: right;
  font-size: 20px;
  text-align: right;
  width: 50%;
  vertical-align: text-bottom;
}

#show-alert {
  width: 100vw;
  height: 3rem;
  background-color: red;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
  padding: 5px;
  text-align: center;
}
