body {
    background: url('weather-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


nav {
    color: white;
    z-index: 2;
}

#weather-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#button {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #ffaa55;
    border: solid 2px c;
    border-radius: 3px;
    transition: 0.4s;
}

#button:hover {
    background: #ffaa55;
    color: white;
}

.card {
    width: 280px;
    height: auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 5%;
    margin: 20px;
    text-align: center;

}
#icon {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 15vw;
    height: 15vh;
}



#show-alert {
    width: 100vw;
    height: 3rem;
    background-color: red;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    padding: 5px;
    text-align: center;
}